.sfm-table th,
.sfm-table td {
	display: none;
	text-align: center;
	padding: 8px;
}
.sfm-table th {
	background: #f4f4f4;
}
/* view students page css */

.sfm-fee-table,
.fee-table {
	border-collapse: collapse;
	margin-top: 20px;
	font-size: 14px;
	min-width: 100%;
}
.sfm-fee-table th,
.fee-table th,
.sfm-fee-table td,
.fee-table td {
	padding: 5px;
	text-align: center;
}
.sfm-fee-table tbody tr:nth-child(even) {
	background: #d3a6a6;
}

/* Number input spinner remove for plugin fields */
.sfm-input-number::-webkit-inner-spin-button,
.sfm-input-number::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.sfm-input-number {
	-moz-appearance: textfield;
}
